[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tqdm = "*"
openai = "*"
pandas = "*"
scikit-learn = "*"
ipywidgets = "*"
notebook = "==7.1.2"
elasticsearch = "==8.13.0"

[dev-packages]

[requires]
python_version = "3.12"
